{% extends "layout.html" %}

{% block body%}
  <h2>Add recipe</h2>
    <form action="/addrecipe" method="post" class="addrecipe">
      <dl>
          <dt>Recipe:
          <dd>Recipe Name<input type=text name=recipename class="textbox"></dd>
          <dd>Steps<input type=text name=steps class="textbox"></input></dd>
          <dd><select name=recipecategory>
            <option>{{ entries.recipecategory }}</option>
          </select>
        </dd>
        <dd><input type=submit value=Register>
          </dl>
    </form>

    {% endblock %}