{% extends "layout.html" %}

{% block body %}
  <h2>Recipe Categories</h2>
  <ul class=entries>
    <li><h2>{{ entries.recipecategory }}
      <form method="post" action="/deleterecipecategory">
        <button type="submit">Delete</button>
      </form>
    <li><button onclick="location.href='/addrecipecategory'" type="button">Add Recipe Category</button>
  </ul>
    <h2>Recipes</h2>
    <ul class=recipes>
      <li><h2>{{ recipes.recipe }}</h2><ul> <li>{{ recipes.steps|safe}}  </li> <li><em>{{recipes.recipecategory|safe}}  </em></li></ul></li><form method="post" action="/deleterecipe">
        <button type="submit">Delete</button>
      </form>
      <li><button onclick="location.href='/addrecipe'" type="button">Add Recipe</button>
    </ul>

      <button onclick="location.href='/'" type="button">Logout</button>
{% endblock %}
