<!DOCTYPE html>
<head>
<link href="style.css" rel="stylesheet" type="text/css" />
<title>Yummy Recipe</title>
</head>

<body>
  <h1>Yummy Registration</h1>
    <form action="{{url_for('yummy_recipe.registration')}}" method="post" class="registration">
      <span>
      <input type="text" placeholder="Name" id="name">
      </span>
      <span>
      <input type="text" placeholder="username" id="username">
      </span>
      <span>
      <input type="text" placeholder="password" id="password">
      </span>
      <span>
      <input type="text" placeholder="confirm password" id="confirmpassword">
      </span>
      <span>
      <input type="submit" value="Register">
      </span>
    </form>

</body>
</html>
