{% extends "layout.html" %}

{% block body%}
  <h2>Yummy Registration</h2>
    <form action="/register" method="post" class="register">
      <dl>
          <dt>Name:
          <dd><input type=text name=name>
          <dt>Username:
          <dd><input type=text name=username>
          <dt>Password:
          <dd><input type=password name=password>
          <dt>Confirm Password:
          <dd><input type=password name=confirmpassword>
          <dd><input type=submit value=Register>
          </dl>
    </form>

    {% endblock %}
